#primo{
    padding-top: 5rem;
    width: 100%;
    text-align: center;
    background-color: #132644 !important;
    color: white;
    
  }
  #navbarColor02{
    color: white;
  }
  #element{
    color: white;
  }
  #pikachu{
    list-style: none;
    margin-left: -2.1rem;
  }
  #aeacito{
    background-color: #697db900 !important;
    color: #c3c3c3;
    width: 110%;
    text-decoration: none;
    opacity: 0.5;
  }
  #aeacito:hover{
    color: white;
  }
  
  #miau{
    background-color: black !important;
      opacity: 0.1;
      color: white;
  }
  
  #navbar-brand{
    margin: auto;
  }



  #paraBuscar{
      margin-top: 5rem;
  }

  @media (max-width: 900px) {
    #paraBuscar{
        margin-top: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    #paraBuscar{
        margin-top: 1rem !important;
    }
  }